.Active {
    box-shadow: rgb(100, 255, 255) 0px 0px 2px, rgb(100, 255, 255) 0px 0px 6px !important; 
}

.Uninvented {
    filter: grayscale(1);
}

.PriceContainer {
    text-align: right;
}

.Price {
    display: block;
    font-size: 0.9rem;
}
