.Navigation {
    min-height: 32px;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.Navigation a {
    padding: 0.5rem 1rem;
    border-radius: 4px;
    background-color: #080808;
}

.Navigation a:hover {
    background-color: rgb(63, 63, 63);
}

.Note {}

.NavItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


.Header {
    width: 100%;
    padding: 0 2rem;
    display: flex;
    justify-content: space-between;
}

.globalStats {
}

.walletButtons {
    margin: 1.5rem 0;
    display: flex;
    gap: 2rem;
}

.Warning {
    color: rgb(255, 81, 0);
}
